/* 
    Document   : style
    Created on : Mar 5, 2012, 10:22:17 AM
    Author     : kottkedp
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body 
{
    background: #fff url(/public/images/bg.gif) top left repeat-x; 
    padding: 0; 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
z-index:1;
}

#header 
{
    background: transparent url(/public/images/bg-header.gif) top left no-repeat; 
    height: 121px; 
    width: 1040px; 
    margin: 0 auto;
z-index:1;
}
#header img 
{
    margin: 18px 0 13px 55px; 
    float: left; 
    border:0;
z-index:1;
}

#navigation 
{
    float: left; 
    width: 1040px; 
    font-size: 16px; 
    font-weight: bold; 
    list-style: none; 
    padding: 0;
    position: absolute;
    top: 89px;
    height: 30px; 
    clear: both;
	z-index:50;
}
#navigation li 
{
    float: left;
}
#navigation a 
{
    background-color: #8600e3; 
    color: #fff; 
    padding: 6px 15px; 
    text-decoration: none; 
    margin: 1px;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
display: block;
float:left;
}
#navigation li.dashboardEditTab{
display:inline;
}
#navigation span 
{
    background-color: #999999; 
    color: #fff;
    padding: 6px 15px; 
    text-decoration: none; 
    margin-left: -2px;

-webkit-border-top-right-radius: 2px;

-moz-border-radius-topright: 2px;

border-top-right-radius: 2px;
cursor:pointer;
}
#navigation a#add 
{
    background-color: #454545; 
    color: #8e8d91;
}
#navigation span#add 
{
    background-color: #454545; 
    color: #8e8d91;
}
#navigation a:hover, #navigation a#add:hover
{
    background-color: #AAA; 
    color: #fff;
}
#navigation a.current 
{
    background-color: #FFF; 
    color: #8e8d91;
}
#navigation span:hover, #navigation span#add:hover 
{
    background-color: #AAA; 
    color: #fff;
}
#navigation span.current 
{
    background-color: #FFF; 
    color: #8e8d91;
}
#navigation li:hover a, #navigation span#add:hover a 
{
    background-color: #AAA; 
    color: #fff;
}
#navigation li.current a 
{
    background-color: #FFF; 
    color: #8e8d91;
float:left;
}
#navigation li:hover span, #navigation span#add:hover span
{
    background-color: #AAA; 
    color: #fff;
}
#navigation li.current span 
{
    background-color: #FFF; 
    color: #8e8d91;
margin-top:1px;
display: block;
float:left;
}

#tools
z-index:1; 
{
    padding: 20px 40px; 
    float: right;
}
#toolNav 
{
z-index:1;
    margin: 0; 
    padding: 16px 0 0 0; 
    font-size: 12px; 
    color: #999; 
    float: left;
}
#toolNav a 
{
    color: #999; 
    text-decoration: none; 
    margin: 0 10px;
}
#toolNav a:hover 
{
    color: #fff;
}

#search 
{
z-index:1;
    float: left; 
    margin-top: 10px;
display:none;
}
#searchField 
{
    width: 140px; 
    color: #999; 
    float: left; 
    height: 20px; 
    margin-right: 5px; 
    font-family: Arial, Helvetica, sans-serif;
}
#searchSubmit 
{
    cursor: pointer; 
    background: #454545 url(/public/images/submit.png) center center no-repeat; 
    height: 20px; 
    width: 20px; 
    display: block; 
    overflow: hidden;
}
#searchField, #searchSubmit {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border: none;
padding: 3px 4px;
}

button {}
.button {
    
    padding:10px;
    background:#8600E3;
    color:#e9e9e9;
    cursor:pointer;
   display: table;
    display: inline-block;
     -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
}

#main 
{
    margin: 40px auto; 
    width: 960px;
    overflow:visible;
z-index:40;
}
.column {
    width: 300px; 
    float: left; 
    margin-right: 25px;
    overflow:visible;
    min-height:300px;
}
.column-last {
    margin: 0;
}
h1 
{
    font-family: Georgia, "Times New Roman", Times, serif; 
    color: #736f6f; 
    text-transform: uppercase; 
    font-size: 14px;
    border-bottom: 3px solid #999;
    padding: 0 0 14px 0; 
    margin: 0;
}
.widget 
{
z-index:1;
    background: url(/public/images/flourish3.png) no-repeat bottom;
    margin-bottom: 3.9em;
        padding-bottom:38px;
}
.widget h1 
{
    text-align:center;
    font-size:16px;
} 
.widget ul 
{
    list-style: none; 
    padding: 0; 
    margin: 0; 
    line-height: 1.3em;
}
.widget li 
{
    border-bottom: 1px solid #c9c9c9; 
    padding: .5em 0; 
    position: relative;
   
}
.widget li:last-child
{
    border-bottom: none; 
   
   
}

.widget ul.rssFeed li
{
     overflow: hidden;
     min-height: 60px;
    
}
.widget ul.rssFeed 
{
     overflow: hidden;
    
}
.widget a 
{
    color: #332f2f; 
    text-decoration: none; 
    width: 270px; 
    display: block;
}
.widget a:hover 
{
    color: #999;
}
.widget div.shareContainer
{
    float: right; 
    position: absolute; 
    right: 0; 
    top: 16px; 
    width: 17px;
}
.widget img 
{
    border:0;
}
.widget span.deleteWidgetButton
{
    float:right;
    overflow:hidden;
    width:20px;
    height:20px;
    cursor: pointer;
     background:  url(/public/images/deleteWidget.png) 5px 0px no-repeat;   
     
}
.widget div.editWidgetButton
{
    float:right;
    overflow:hidden;
    width:20px;
    height:20px;
    cursor: pointer;
     background:  url(/public/images/editWidget.png)  no-repeat;
   
}
.widget .editWidgetButton:hover {
    
    background-position:  0px -44px; 
}
.widget .deleteWidgetButton:hover {
    
    background-position:  5px -44px; 
}
#searchWidgetField 
{
z-index:1;
    width: 260px; 
    color: #999; 
    float: left; 
    height: 20px; 
    margin-right: 5px; 
    font-family: Arial, Helvetica, sans-serif;
}

.delete 
{
z-index:1;

    float: left; 
    width: 300px; 
    padding-bottom:46px;

    background:none;
    position: relative;

    
}
.delete div.deleteWidgetContent
{
    display:none;
    
}

.delete ul li a
{
    background:none;
    padding:8px 30px 8px 40px;
    float:none;
    
}

.delete ul{
    display:none;
    
}
.delete ul{
    position:absolute;
    /*top:-50;
    left:-10px;*/
    
    
}
.editWidgetButton:hover ul, .editWidgetButton:hover ul *
{

}
.editWidgetButton:hover ul a
{
    
}



.delete .widgetHeader
{
    float:left;
    width:300px;
    border-bottom: 3px solid #ccc;
}

.add 
{
z-index:1;
    border: none; 
    padding: 0; 
    float: left; 
    width: 300px; 
    margin-bottom: 2em;
    padding-bottom:28px;
    background:none;
}
.add li, .delete li
{
    font-family: Arial, Helvetica, sans-serif; 
    text-transform: none; 
    padding: 1px 0; 
    font-weight: bold; 
    float: left; 
    border: none;
}
div.add>ul>li>ul>li
{
   
}

.add a.addWidget:hover, .delete a.addWidget:hover {
    background-position: 275px -33px;
}

#navigation span.editTabButton {
    
    background: #8600E3 url(/public/images/editNavigation.png) 8px 7px no-repeat;
margin-top:1px;
display: block;
float:left; 
}
#navigation span.editTabButton:hover {
    
    background-position: 8px -36px; 
}


#navigation span.deleteTabButton {
    
    background: #8600E3 url(/public/images/deleteNavigation.png) 8px 8px no-repeat;
margin-top:1px;
display: block;
float:left;  
}
#navigation span.deleteTabButton:hover {
    
    background-position: 8px -36px;
}


.widgetSelect li 
{
    font-family: Georgia, "Times New Roman", Times, serif; 
    text-transform: uppercase; 
    font-size: 14px; 
    padding: 0; 
    margin: 0; 
    border-bottom: 1px solid #c9c9c9;
    background:#F0F0F0;
}
.widgetSelect li a 
{
    padding: 8px 30px 8px 40px; 
    color: #736f6f; 
    width: 228px;
}
.widgetSelect li span 
{
    padding: 8px 0 8px 20px; 
    color: #736f6f; 
    width: 278px;
    display:block;
}
.widgetSelect li div 
{
    padding: 8px 0 8px 20px; 
    color: #736f6f; 
    width: 278px;
    display:block;
}
.widgetSelect li a:hover {
    color:#332F2F;
}
.widgetSelect li:hover 
{
    background: #e9e9e9 url(/public/images/addWidget.png) 274px -33px no-repeat;
    
}

h1 
{
    font-family: Georgia, "Times New Roman", Times, serif; 
    color: #9c38e2;
    text-transform: uppercase; 
    font-size: 14px; 
    border-bottom: 3px solid #999; 
    padding: 0 0 .8em 0; 
    margin: 0;
}
.date 
{
z-index:1;
    color: #666;
    font-size: 11px;
	height: 18px; 
    width: 270px; 
    display: block;
}

.date a
{
    color: #666; 
    font-size: 11px; 
    width: 270px; 
    display: block;
}

#footer 
{
    clear: both;
}
#footer p 
{
    text-align: center; 
    font-size: 12px; 
    color: #999; 
    border: 1px solid #adadad; 
    border-left: 0; 
    border-right: 0; 
    padding: 1.75em 0;
}
#footer p.credit 
{
    border: none; 
    line-height: 2em; 
    padding: 0; 
    color: #666;
}
#footer a 
{
    color: #000; 
    font-weight: bold; 
    text-decoration: none; 
    margin: .5em;
}
#footer a:hover 
{
    color: #999;
}






.shareIcon
{
	height:15px;
	width:17px;
	overflow:hidden;
	margin-bottom:8px;
}
.corridorShare
{

}
.mailShare
{

}
.widget li:hover .corridorShare
{
	background: url(/public/images/corridorShare.png) no-repeat top;
}
.widget li:hover .mailShare
{
	background: url(/public/images/mailShare.png) no-repeat top;
}
.widget li:hover .discussShare
{
	background: url(/public/images/discuss.png) no-repeat top;
}


div.ui-widget-header
{
    background: #8600E3;
    border: none;
}

.widget-placeholder
{
    width:300px;
    background:#AAA;
}

div.add li, div.delete li
{
    overflow: visible;
}
div.add li ul, div.delete li ul
{
    background-color: #fff;
    display:none;
    height:auto;
    filter:alpha(opacity=100);
    opacity:1;
    position:absolute;
    top: 42px;
    z-index:2000;
    }
div.add li:hover ul, div.delete li:hover ul
{
}
       
ul li span.dropdownHeader,ul li div.dropdownHeader
{
   
    font-weight:normal;
    color:#FFF;
}
ul li.dropdownHeaderLi:hover
{
    background-image: none;
    background:#8600E3;
    cursor: auto;
}
ul li.dropdownHeaderLi
{
    background:#8600E3;
}

.widgetselect li.gridSelectionLi:hover
{
    background: #8600E3 ;
    
    
}
.widgetselect li.gridSelectionLi
{
    background: #8600E3 ;
    text-align: center;
    
}   
.widgetselect li.gridSelectionLi div
{
    
   padding-left:0px;
   width:298px;
    
}  

.iconEditWidgetButton
{
    width:20px;
    height:20px;
}

.widgetPrioritySelect
{

}

body
{
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}
.widgetPositionTable
{
    display: inline;
}

.widgetPositionTable tr td
{
    background: #FFF;
    width:10px;
    height: 10px;
    
    
}
.widgetPositionTable tr td:hover
{
    width:8px;
    height: 8px;
    border:solid 1px #CCC;
    cursor:pointer;
}

.widgetPositionTable tr td.widgetPositionSlotSelected
{
    background: #00B2EE;
}

.rssRow span, .flickrRow a
{
    font-weight: bold;
}
.widget .feedContent
{
    clear:both;
    font-size:11px;
    color:#666;
    margin: 10px 0;
}
.widget .feedContentMeta a
{
    color: #8600E3;
    font-weight: normal;
   
}
.widget .feedContentMeta 
{
    font-weight: bold;
    font-size: 11px;
    color: #000;
    width:270px;
	margin-top:40px;
}
.widget .feedFullContent * 
{
    
   color:#666;
   
}

.widget .feedFullContent *:hover, .widget .feedFullContent:hover
{
    color:#666;
}

.widget .feedTitleArea
{
    padding-bottom:5px;
}

.widget a.share
{width:17px;
cursor:pointer;}

#overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
.add a.addWidget , .delete a.addWidget
{
    border: none; 
    padding: 10px; 
    float: left; 
position:relative;
    width: 280px; 
    background: #d4d4d4 url(/public/images/addWidget.png) 275px 11px no-repeat; 
    border-bottom: 2px solid #fff;
}
.widgetEmptyContainer{
z-index:1;

}
.widgetSelect 
{
    padding: 0; 
    margin: 0; 
    float: left; 
    width: 298px; 
    border: 1px solid #ccc;
    border-bottom: none;
	position: absolute;
left:0;
z-index:9999;
}
.widgetSelect li{}
#alpha_2 {
		width: 300px;
height:70px;
position:absolute;
left:0;
background: url(/public/images/flourish3.png) no-repeat bottom;
filter: alpha(opacity=30);}
        #text_holder_2 {
position:relative;
z-index:1;
		width: 300px;
	}
.delete h1 
{
    float: left; 
    max-width: 250px;
    overflow:hidden;
    height:18px;
    border-bottom:none;
    white-space: nowrap;
filter: alpha(opacity=70);
}
#alpha_wrapper{z-index:1;}
.tooltip {
  color: #000000; 
  outline: none;
  cursor: help; 
  text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em !important;
  position: absolute;
}


.tooltip:hover span {
  font-family: Calibri, Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 1em;
  top: 2em;
  margin-left: 0  !important;
  width: 250px;
}
.tooltip:hover img {
  border: 0;
  margin: -10px 0 0 -55px;
  float: left;
  position: absolute;
}
.tooltip:hover em {
  font-family: Candara, Tahoma, Geneva, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }

.classic { background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334; }
.help { background: #9FDAEE; border: 1px solid #2BB0D7; }
.info { background: #9FDAEE; border: 1px solid #2BB0D7; }
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

}
#pageMask
{
   position:absolute;
   width:100%;
   height:100%;
   z-index: 999;
   display:none;
   
}